body {
    background-color: #3CC47C;
}

.background {
    background-image: url('../Images/background1.jpg');
    background-color: #3CC47C;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#nav-bar {
    background-color: #1D2731;
    font-family: 'Sigmar One', cursive;
}

.grid-setup {
    display: grid;
    grid-template: 5vw repeat(12, 1fr) 5vw / 3vh repeat(12, 1fr) 3vh;
}

.profile{
    grid-area: 3/3/12/6;
}

.profile-pic{
    width:100%;
    height: auto;
}

.about-me{
    grid-area: 3/7/6/12;
    font-family: 'Oswald', cursive;
    color:  #1D2731;
}

.cards {
    grid-area: 3/3/13/13;
}


