.background {
    /* background-image: url('../Images/background1.jpg'); */
    background-color: #3CC47C;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#nav-bar {
    background-color: #1D2731;
    font-family: 'Sigmar One', cursive;
}

.grid-setup {
    display: grid;
    grid-template: 5vw repeat(12, 1fr) 5vw / 3vh repeat(12, 1fr) 3vh;
}

.profile{
    grid-area: 3/3/12/6;
}

.profile-pic{
    width:100%;
    height: 100%;
}

.about-me{
    grid-area: 6/7/9/12;
}

.cards {
    grid-area: 3/3/12/12;
}
